/*---------------Google_Fonts------------- --> */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&family=Poppins&family=Rubik&family=Ubuntu&display=swap');
/* -----Header_Style-----------/
---------------------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.header-Text{
    font-size: 24px;
}
.navigation-style{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 87px;
}

.menu{
    display: flex;
}
.menu>li{
    list-style: none;
    display: inline;
    margin-right: 34px;
    font-weight: 600;
}
.menu>li>a{
    text-decoration: none;
    color: #3A3A3A;
}
.menu li:hover {
    background-color: lightgray;
    padding: 5px 5px;
    border-radius: 5px;
    transition: 0.3s ease;
   }
 /*---------- navbar-responsive-Mobile--------- */
@media screen and (max-width: 600px){
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .navigation-style{
        flex-direction: column;
        align-items: center;
    }
    .menu{
        flex-direction: column;
        gap: 15px;
        align-items: center; 
    }
    .menu  a {
        text-align: center;
    }
    
}
