    /*---------------Google_Fonts------------- --> */
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&family=Poppins:wght@400;500;600;700&family=Rubik&family=Ubuntu&display=swap');
    /* -----Header_Style-----------/
    ---------------------------- */
    /*-------------------- Navbar-style-end-------------------- */
    body{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
    }
    .container{
        max-width: 1440px;
        margin: 0 auto;
    }
    .medium-container{
        max-width: 1000px;
        margin: 0 auto;
    }
    .header-Text{
        font-size: 24px;
    }
    .navigation-style{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-top: 87px;
    }

    .menu{
        display: flex;
    }
    .menu>li{
        list-style: none;
        display: inline;
        margin-right: 34px;
        font-weight: 600;
    }
    .menu>li>a{
        text-decoration: none;
        color: #3A3A3A;
    }
    .menu li:hover {
        background-color: lightgray;
        padding: 5px 5px;
        border-radius: 5px;
        transition: 0.5s ease;
    }
    /*-------------------- Navbar-style-end-------------------- */
    /* -----Header_Style End-----------/
    ---------------------------- */
    /* ------------------main-part-style-start----------------------- */

    /* section1 */
    .flex-conatiner{
        display: flex;
        } 
    .half-width{
        width: 50%;
        margin-bottom: 70px;
    }
    .heading-decoration{
        font-size: 30px;
        font-weight: 700;
    }
    .half-width p{
    font-weight: 500;
    text-align: justify;
    margin-bottom: 50px;
    }
    .half-width img{
        width: 70%;
        margin-left: 135px;
        background-image: url(../images/Background/Circle\ design.svg);
        background-size:475px 475px;
        background-repeat: no-repeat;
    }
    .btn-style{
        background-color: #4d94ff;
        color: white;
        font-weight: 700;
        padding: 2% 4%;
        text-decoration: none;
        border-radius: 40px;
    }
    .btn-style:hover{
        background-color: salmon;
    }
    .image-style:hover{
        transform: scale(1.1);
        transition: transform 0.5s ease;
    }
    /* section---1-end */

    /* section---2-start */
    hr{
        margin: 35px, 0;
        border-top: 2px solid transparent;
        border-image: linear-gradient(to right, rgba(211, 211, 211, 0.152), rgba(128, 128, 128, 0.515), rgba(211, 211, 211, 0.152));
        border-image-slice: 1;

    }
    .quick-links{
        display: flex;
        justify-content: center;
        gap: 60px;
        align-items: center;
        padding: 35px 0;
    }


    /*---------- navbar-responsive-Mobile--------- */
    @media screen and (max-width: 660px){
        .container{
            width: 100%;
            margin: 0 auto;
        }
        .navigation-style{
            flex-direction: column;
            align-items: center;
        }
        .menu{
            flex-direction: column;
            gap: 15px;
            align-items: center; 
        }
        .menu  a {
            text-align: center;
        }
    /*---------- section-1-responsive-Mobile--------- */
    .flex-conatiner{
        flex-direction: column-reverse;
        align-items: center;
    }   
    .half-width img{
        width: 100%;
        margin-left: 0;
        background-image: url(../images/Background/Circle\ design.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .btn-style{
        background-color: #4d94ff;
        font-weight: 400;
        background-size: 50px;
    }
    .heading-decoration{
        font-size: 20px;
        font-weight: 700;
    }
    .half-width p{
    font-weight: 500;
    text-align: justify;
    margin-bottom: 20px;

    }
/*---------- section-1-responsive-Mobile end--------- */

.quick-links{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    column-gap: 20px;
    padding: 20px;
}

}

    
