    /*---------------Google_Fonts------------- --> */
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&family=Poppins:wght@400;500;600;700&family=Rubik&family=Ubuntu&display=swap');
    /* -----Header_Style-----------/
    ---------------------------- */
    /*-------------------- Navbar-style-end-------------------- */
    body{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
    }
    .container{
        max-width: 1440px;
        margin: 0 auto;
    }
    .medium-container{
        max-width: 1110px;
        margin: 0 auto;
    }
    .header-Text{
        font-size: 24px;
    }
    .navigation-style{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-top: 87px;
    }

    .menu{
        display: flex;
    }
    .menu>li{
        list-style: none;
        display: inline;
        margin-right: 34px;
        font-weight: 600;
    }
    .menu>li>a{
        text-decoration: none;
        color: #3A3A3A;
    }
    .menu li:hover {
        background-color: lightgray;
        padding: 5px 5px;
        border-radius: 5px;
        transition: 0.5s ease;
    }
    /*-------------------- Navbar-style-end-------------------- */
    /* -----Header_Style End-----------/
    ---------------------------- */
    /* ------------------main-part-style-start----------------------- */

    /* section1 */
    .flex-conatiner{
        display: flex;
        } 
    .half-width{
        width: 50%;
        margin-bottom: 70px;
    }
    .heading-decoration{
        font-size: 30px;
        font-weight: 700;
    }
    .half-width p{
    font-weight: 500;
    text-align: justify;
    margin-bottom: 50px;
    }
    .half-width img{
        width: 60%;
        margin-left: 135px;
        background-image: url(../images/Background/Circle\ design.svg);
        background-size:420px 420px;
        background-repeat: no-repeat;
    }
    .btn-style{
        background-color: #4d94ff;
        color: white;
        font-weight: 700;
        padding: 2% 4%;
        text-decoration: none;
        border-radius: 40px;
    }
    .btn-style:hover{
        background-color: salmon;
    }
    .image-style:hover{
        transform: scale(1.1);
        transition: transform 0.5s ease;
    }
    /* section---1-end */

    /* section---2-start */
    hr{
        margin: 35px, 0;
        border-top: 2px solid transparent;
        border-image: linear-gradient(to right, rgba(211, 211, 211, 0.152), rgba(128, 128, 128, 0.515), rgba(211, 211, 211, 0.152));
        border-image-slice: 1;

    }
    .quick-links{
        display: flex;
        justify-content: center;
        gap: 60px;
        align-items: center;
        padding: 35px 0;
    }
 /* section---2-end */

 /* section---3-Start */

 .heading-title{
     text-align: center;
     margin-top: 100px;
     font-size: 28px;
     font-weight: 600;
 }
 .Products{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     justify-items: center;
     column-gap: 30px;
     row-gap: 30px;
 }
 .latest-products{
     width: 300px;
     height: 500px;
     box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.15);
     border-radius: 5px;
     padding: 15px 15px;

 }
.product-image{
    width: 300px;
    border-radius: 5px;
}
.product-image img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
.product-title{
    font-size: 28px;
    font-weight: 500;
    margin: 0;
}
.product-price{
    font-size: 24px;
}
.product-rating{
    font-size: 12px;
}
.filled{
    color: #FB8200;
}
.not-filled{
    color: lightgrey;
}
.product-description{
    font-weight: 700;
    font-size: 14px;
}
.product-description a{
    text-decoration: none;
    color: #787885;
}
.btn-style-2{
    text-decoration: none;
    text-align: right;
    margin-top: 50px;
    margin-bottom: 100px;
}
.btn-style-2 a{
    text-decoration: none;
    font-weight: 700;
    color: #4d94ff;
}
/* ----section----3---end */
/*------------ Footer------style---------- */
/*-------- footer-start------ */
.footer-style{
    background-color: #0A0826;
    width: 100%;
    height: 240px;
}
.footer-style h1{
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 50px;
    font-weight: 700;
}
.footer-style p{
    text-align: center;
    color: seashell;
    font-size: 15px;
    font-weight: 700;
}
.footer-links{
    display: flex;
    justify-content: space-around;
}
.footer-links ul li{
    list-style: none;
    display: inline;
    font-weight: 500;
    font-size: 20px;
}
.footer-links ul li a{
    color: white;
    margin-right: 25px;
   background-color: rgba(128, 128, 128, 0.356);
    padding: 3px 8px ;
    border-radius: 20px;

}
/*-------- footer-End------ */

  
    /*----------responsive-Mobile--------- */
      /*---------- navbar---------- */
    @media screen and (max-width: 668px){
        .container{
            width: 100%;
            margin: 0 auto;
        }
        .medium-container{
            width: 100%;
            margin: 0 auto;
        }
        .navigation-style{
            flex-direction: column;
            align-items: center;
        }
        .menu{
            flex-direction: column;
            gap: 15px;
            align-items: center; 
        }
        .menu  a {
            text-align: center;
        }
         /*---------- navbar End---------- */
    /*---------- section-1-responsive-Mobile--------- */
    .flex-conatiner{
        flex-direction: column-reverse;
        align-items: center;
    }   
    .half-width img{
        width: 100%;
        margin-left: 0;
        background-image: url(../images/Background/Circle\ design.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .btn-style{
        background-color: #4d94ff;
        font-weight: 400;
        background-size: 50px;
    }
    .heading-decoration{
        font-size: 20px;
        font-weight: 700;
    }
    .half-width p{
    font-weight: 500;
    text-align: justify;
    margin-bottom: 20px;

    }
/*---------- section-1-responsive-Mobile end--------- */

 /*---------- Section 2 ---------- */
.quick-links{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    column-gap: 20px;
    padding: 20px;
}

 /*---------- Section 2 End ---------- */

 /*---------- Section 3 Start ---------- */
.Products{
    display: grid;
    grid-template-columns: repeat(1,1fr);  
}
.btn-style-2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
}
/*---------- Section 3 end ---------- */
.footer-style{
    background-color: #0A0826;
    width: 100%;
    height: 300px;
}
}

/*----------responsive-Tablet--------- */
      /*---------- navbar---------- */
      @media only screen and (min-width:688px) and (max-width:992px){
        .container{
            width: 80%;
            margin: 0 auto;
        }
        .medium-container{
            width: 80;
            margin: 0 auto;
        }
        .navigation-style{
            flex-direction: flex;
            align-items: center;
        }
        .menu{
            flex-direction: flex;
            gap: 20px;
            align-items: center; 
        }
        .menu  a {
            text-align: center;
        }
         /*---------- navbar End---------- */
    /*---------- section-1-responsive-Mobile--------- */
    .flex-conatiner{
        flex-direction: column-reverse;
        align-items: center;
    }   
    .half-width img{
        width: 70%;
        margin-left: 0;
        background-image: url(../images/Background/Circle\ design.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .btn-style{
        background-color: #4d94ff;
        font-weight: 400;
        background-size: 50px;
    }
    .heading-decoration{
        font-size: 20px;
        font-weight: 700;
    }
    .half-width p{
    font-weight: 500;
    text-align: justify;
    margin-bottom: 20px;

    }
/*---------- section-1-responsive-Mobile end--------- */

 /*---------- Section 2 ---------- */
.quick-links{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    column-gap: 20px;
    padding: 20px;
}

 /*---------- Section 2 End ---------- */

 /*---------- Section 3 Start ---------- */
.Products{
    display: grid;
    grid-template-columns: repeat(2,1fr);  
}
.btn-style-2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
}
/*---------- Section 3 end ---------- */
.footer-style{
    background-color: #0A0826;
    width: 100%;
    height: 300px;
}
}




    
